In [10]:
# iloc , ifloc, ix in pandas
import pandas as pd
bond=pd.read_csv('jamesbond.csv')
bond.set_index("Film",inplace=True)
bond.sort_index(inplace=True)
bond["Bond Actor Salary"].fillna(0,inplace=True)
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,0.0
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [16]:
# accessing index throw column values like Die Another Day throw its Actor name
bond.loc["Die Another Day","Actor"]
# accessing multiple values of thare column using split "Actor":"Budget" values
bond.loc["Die Another Day","Actor":"Budget"]
# accessing specific column value 
bond.loc["Die Another Day",["Actor","Box Office","Bond Actor Salary"]]

Actor                Pierce Brosnan
Box Office                    465.4
Bond Actor Salary              17.9
Name: Die Another Day, dtype: object

In [26]:
# accessing index value(0,1,2) throw column values like Die Another Day throw its Actor name
bond.iloc[1]
# accessing multiple index values of thare column using split 2:5 values
bond.iloc[1,2:5]
# accessing specific index values of column
bond.iloc[1,[0,2,3]]

Year                     2006
Director      Martin Campbell
Box Office              581.5
Name: Casino Royale, dtype: object

In [29]:
# accessing value throw column index nameabs like Die Another Day throw its Actor name
bond.ix["Diamonds Are Forever",1:3]
# both way we can acsess in  ix[]
bond.ix[1,"Actor":"Budget"]

c:\users\ravi nikam\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:2: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated

c:\users\ravi nikam\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:3: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  This is separate from the ipykernel package so we can avoid doing imports until

Actor            Daniel Craig
Director      Martin Campbell
Box Office              581.5
Budget                  145.3
Name: Casino Royale, dtype: object