In [55]:
# sort values

import pandas as pd

s=pd.read_csv('test.csv',usecols=['Emp ID'],squeeze=True)

s.sort_values().head()

100    114425
837    114862
828    116286
322    116530
371    117603
Name: Emp ID, dtype: int64

In [58]:
s.sort_values(ascending=False).head(10)

514    999475
930    999219
676    998638
768    996768
958    995863
131    995242
980    994907
531    993792
68     993675
621    993099
Name: Emp ID, dtype: int64

In [59]:
s.sort_values(ascending=False).tail(10)

748    118882
207    118236
951    118109
925    117980
577    117956
371    117603
322    116530
828    116286
837    114862
100    114425
Name: Emp ID, dtype: int64

In [67]:
s.sort_values(inplace=True,ascending=True,na_position='first')
x=[]
x.append(s)
x

[100    114425
 837    114862
 828    116286
 322    116530
 371    117603
         ...
 958    995863
 768    996768
 676    998638
 930    999219
 514    999475
 Name: Emp ID, Length: 1000, dtype: int64]