In [2]:
# python iloc method ML_62

import pandas as pd
df=pd.read_csv('jamesbond.csv')
df.set_index("Film",inplace=True)
df.sort_index(inplace=True)
df.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [3]:
df.loc["Diamonds Are Forever"]

Year                         1971
Actor                Sean Connery
Director             Guy Hamilton
Box Office                  442.5
Budget                       34.7
Bond Actor Salary             5.8
Name: Diamonds Are Forever, dtype: object

In [4]:
df.iloc[0]

Year                        1985
Actor                Roger Moore
Director               John Glen
Box Office                 275.2
Budget                      54.5
Bond Actor Salary            9.1
Name: A View to a Kill, dtype: object

In [5]:
# film work as index but we also use index number to accsess Film using iloc method
# using loc method we can't accsess index number but using iloc we use it
df.loc[:"Diamonds Are Forever"]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8

In [12]:
# acssesing multiple rows using iloc method
df.iloc[[1,13,21]]

# Multiple row and column selections using iloc and DataFrame
df.iloc[0:5] # first five rows of dataframe
df.iloc[:, 0:2] # first two columns of data frame with all rows
df.iloc[[0,3,6,8], [0,5,4]] # 1st, 4th, 7th, 9th row + 1st 6th 5th columns.
df.iloc[0:5, 5:8] # first 5 rows and 5th, 6th, 7th columns of data frame (county -> phone1).
# df.iloc[:,1:2]

                      Bond Actor Salary
Film
A View to a Kill                    9.1
Casino Royale                       3.3
Casino Royale                       NaN
Diamonds Are Forever                5.8
Die Another Day                    17.9